<div class="well well-lg hli-top" id="top">
	<h4>
		<form class="form-inline" role="form">
		I currently have
		<div class="form-group">
			<input type="number" class="form-control input-lg" ng-model="data.firstDay"
				placeholder="Number of emails today">
		</div>
		emails in my inbox and I want to reduce that number to
		<div class="form-group">
			<input type="number" class="form-control input-lg" ng-model="data.lastDay"
				placeholder="Wished number of emails">
		</div>
		emails in
		<div class="form-group">
			<input type="number" class="form-control input-lg" ng-model="data.totalDays"
				placeholder="Total number of days">
		</div>
		days.
		How many emails do I need to answer every day?
		</form>
	</h4>
</div>

<p>To clean up your inbox, follow the schedule below. In every row you see the number of emails you need to leave in your inbox by the end of the day. That means you need to take care of <em>both existing emails and incoming emails</em>.</p>

<div class="row">
	<div class="col-xs-6 hli-col-checkbox">
		<input type="checkbox"
	       ng-model="data.avoidWeekends"
	       ng-change="onAvoidWeekendsChange()"> Avoid weekends
	</div>
	<div class="col-xs-6 hli-col-checkbox">
		<input type="checkbox"
	       ng-model="data.startFirstDay"
	       ng-change="onStartFirstDayChange()"> Start on first day
	</div>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>Date</th>
				<th>Number of emails in your inbox</th>
			</tr>
			<tr ng-repeat="entry in data.emailPlan">
				<td>Day {{ entry.day }}</td>
				<td>
					<div ng-show="entry.day===0">
						Start</div>
					<div ng-show="entry.day===data.halfLife">
						Half-life
						<span class="glyphicon glyphicon-chevron-right text-primary"></span></div>
					<div ng-show="entry.day===data.emailPlan.length-1">
						Done!
					</div>
				</td>
				<td>{{ entry.formattedDate }}</td>
				<td>
					{{ entry.remaining }} emails
					<span ng-show="entry.totalDay > 0">
						&mdash; you need to answer {{ entry.totalDay }}+ emails
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="alert alert-success">
	<p>The nerdy details: You need to stick to a decay rate of {{ data.decayRate }}/day.</p>
	<p>This gives you a <strong>half-life of {{ data.halfLife }} days</strong> &mdash;
	that's the number of days you need to bring your inbox to half of its initial size
	({{ data.firstDay }} emails).</p>
</div>

<br>

<div class="page-header">
	<h1 id="about">About</h1>
</div>

<h4>The hypothesis</h4>

<ol>
	<li>You go on vacation, or you focus in a project,
		and when you come back your inbox has exploded.</li>
	<li>At the beginning, it's easier to clean up messages
		(newsletters, outdated notifications, stuff you're in CC).
		Then it gets harder (emails you actually need to think and type, emails you can only answer).</li>
	<li>Inbox Zero is a good thing, but it's unrealistic.
		There's always a minimum amount of emails flowing in your inbox.</li>
	<li>While you catch up with old email, you still receive new emails.
		However, you can include both as part of the same workflow.</li>
	<li>To catch up, it helps having a deadline.</li>
</ol>

<br>

<h4>The solution</h4>

<p>
	We follow an <a href="http://en.wikipedia.org/wiki/Exponential_decay">exponential decay model</a>
	to solve the problem. That means that the speed you empty your inbox is proportional to the number of remaining emails in your inbox.
	Check out the Wikipedia chart to get a visual idea.</p>

<p>
	Who knew, the same rules governing Chemical reactions, Electrostatics, Fluid Dynamics, Geophysics,
	Heat transfer, Luminescence, Pharmacology and toxicology, Physical optics, Radioactivity,
	Thermoelectricity, or Vibrations may apply to inboxes as well.
</p>

<br>

<h4>Feedback</h4>

<p>
	We use this method regularly, but we're just a few data points.
	Feel free to contact us with your feedback.
</p>

<p>The code is <a href="https://github.com/zugaldia/halflifeinbox">available on GitHub</a>,
feel free to provide pull requests or
<a href="https://github.com/zugaldia/halflifeinbox/issues">suggest any improvements</a>.</p>
